.DS_Store
.idea
cmake-build-default
*.o
*.a
.vs
*.out
out
*.txt
bomberman
*.cbp
bomberman.cbp
Testing
*.log
saves/*
*.cmake
CMakeCache.txt
CMakeFiles
build
Makefile
cmake-build-debug

vgcore*

_deps
*.vcxproj
*.sln
*.filters
*.json

Debug
*.user
src/components/Map/a.out
src/components/Map/map.txt